.itemdetail {
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.2fr 0.1fr 0.5fr 1fr;
    grid-column-gap: 14px;
    grid-row-gap: 0px;
    justify-items: center;
    align-items: center;
    width: 90%;
    padding: 10px
    
}
    .imgdetail { 
        grid-area: 1 / 1 / 5 / 4;
        width: 50%;
        max-width: 300px;
    box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 83%);
    border-radius: 5px;
   }
    .titulodetail { 
        grid-area: 1 / 4 / 2 / 5;
        border-bottom: 1px solid black; 
        
    }
    .preciodetail { 
        grid-area: 2 / 4 / 3 / 5; 
        font-weight: bolder;
    }
    .switchbutton { 
        grid-area: 3 / 4 / 4 / 5;
        display:grid;
        grid-template-rows: auto auto auto;
        justify-items: center;
     }
     
    .descripciondetail { grid-area: 4 / 4 / 5 / 5;  }



