.listcontenedor {
  border: 1px #db3939 solid;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  font-family: "Inter", sans-serif;
  justify-content: space-between;
}
article img {
  width: 100%;
}
article h1,
p,
button {
  font-family: "Inter", sans-serif;
}
article h1 {
  font-weight: bold;
}
article button {
  margin: 5px;
  border: 0px;
  background: none;
}
.buttons {
  border: 1px black solid;
  border-radius: 5px;
}
