.articulocart {
    border: 1px #DB3939 solid;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 0.1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-self: center;
    }
    .imgcart { grid-area: 1 / 1 / 4 / 3;
    }
    .imgcart img {
        width: auto;
    }
    .titulocart { grid-area: 1 / 3 / 2 / 4; }
    .cantidades{grid-area: 2 / 3 / 3 / 4;}
    .precios {grid-area: 3 / 3 / 4 / 4; }
    .botonrest {
        grid-area: 2 / 4 / 3 / 5; 

    }
    
   
   
    .parent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 0.3fr) repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .div1 { grid-area: 1 / 1 / 4 / 3; }
        .div2 { grid-area: 1 / 3 / 2 / 4; }
        .div3 { grid-area: 2 / 3 / 3 / 4; }
        .div4 { grid-area: 3 / 3 / 4 / 4; }
        .div5 { grid-area: 2 / 4 / 3 / 5; }