.container-error{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagen-error img{
    max-width: 250px;
}
.texto-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}