@font-face {
  font-family: FUTRFW;
  src: url(../../../public/FUTRFW.TTF);
}

.letra {
  font-family: FUTRFW;
  font-weight: 900;
  font-size: 1.3em;
  border: 0px;
  background: none;
  font-style: bold;
}
nav {
  font-family: FUTRFW;
  font-weight: 200;
    padding: 0px 10px;
    border-bottom: 5px solid  ;
  }
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.menu-list{
  display: flex;
  list-style: none;
  margin-right: 30px;
}
.menu-list li{
  margin: 5px 5px;
  vertical-align: center;
}
.menu-list li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  color: black;
}
.menu-list li a button {
  border: none;
  background: none;
}
.currentcategory{
  border-bottom: 2px solid #5a281a;
  font-weight: bold;
}
.menu-list li:hover{
  border-bottom: 2px solid #5a281a;
  transition: 0.8s;
}
.boton {
  margin-right: 10px;
  font-size: 25px;
  color: black;
  cursor: pointer;
  display: none;
}
.boton button {
  margin: 5px;
  border: 0px;
  background: none;
  margin: none;
}
ul.show {
  top: 65px;
}
@media screen and (max-width: 952px) {
  label {
    font-size: 18px;
  }
  .menu-list li a{
    font-size: 15px;
  }
}
@media screen and (max-width: 858px) {
  .menu {
    height: 65px;
  }
  .boton {
    display: inline-flex;

  }
  .menu-list {
    position: fixed;
    flex-direction: column;
    width: 100vw;
    height: calc(100% - 65px);
    background: #69341e;
    top: -1000vh;
    text-align: center;
    transition: all .4s;
    
  }
  .menu-list li {
    margin: 30px 0px 0px 0px;
    line-height: 30px;
  }
  .menu-list li:hover{
    background: none;
  }
  .menu-list li a{
    font-size: 20px;
    color: white;
    font-weight: bold;
  }

}