  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3eded;
  }

  .link-component{
    color:black;
    text-decoration: none;
  }
  ion-icon {
    color:black}

    button, .link-component {
      color: #090909;
      padding: 0.7em 1.7em;
      font-size: 18px;
      border-radius: 0.5em;
      background: #e8e8e8;
      border: 1px solid #090909;
      transition: all .3s;
     }
     
     button:active {
      color: #666;
      box-shadow: inset 4px 4px 12px #c5c5c5,
                  inset -4px -4px 12px #ffffff;
     }
